<div class="section" id="landing">
  <header class="intro" id="intro">
    <h1>ALBERGUE SAN VICENTE</h1>
    <div class="graphic-container">
      <!-- <img src="../../assets/title.svg" alt="Albergue San Vicente de Paul"> -->
    </div>
    <div class="strapline-container">
      <p>
        Brindamos albergue digno y educativo para niños foráneos con capacidades diferentes que asisten a
        rehabilitación a la ciudad de Chihuahua y a los familiares que los acompañan.
      </p>
      <img src="../../../assets/down.svg" alt="arrow">
    </div>
  </header>
</div>
