<div class="app-navbar mat-elevation-z6">
  <nav class="docs-navbar-header">
    <!-- TODO: Agregar ícono -->
    <a mat-button class="docs-button" routerLink="/login">
    <span>Panel de Administración</span>
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/home">Página Principal</a>
    <div class="flex-spacer"></div>
  </nav>
  <nav class="docs-navbar docs-navbar-show-small">
    <a mat-button class="docs-navbar-link" routerLink="/home">Página Principal</a>
  </nav>
</div>
<app-container>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(Email.value, Password.value)">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" #Email ngModel name="Email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" #Password ngModel name="Password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</app-container>