<section class="main">
  <mat-tab-group class="tab-group" layout="row" layout-align="center center">
    <mat-tab label="Proyectos">
      <div class="tab-content">
        <app-project-card></app-project-card>
      </div>
    </mat-tab>
    <mat-tab label="Donaciones">
      <div class="tab-content">
        <app-donation-card></app-donation-card>
      </div>
    </mat-tab>
    <mat-tab label="Eventos">
      <div class="tab-content">
        <app-event-card></app-event-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>