.main {
  background-color: #fff;
  padding-bottom: var(--padding-bottom-section);
  /* padding-left: 11.5vw; */
  /* padding-right: 11.5vw; */
  font-family: var(--main-font);
  color: var(--title);
}


.tab-group {
  /* display: flex;
  justify-content: center; */
  align-items: center;
  /* background-color: bisque; */
  width: 100%;
  /* border-top: solid 3px #345cd7; */
}

.tab-group:before{
  margin-left: auto;
  margin-right: auto;
  width: 2.5rem;
  height: 3px;
  background-color: var(--main-color);
  content: "";
  display: block;
  margin-bottom: var(--margin);
}

.tab-content {
  padding: 16px;
}

