<app-container>
  <!-- Name field -->
  <mat-form-field>
    <input matInput placeholder="Nombre" required>
  </mat-form-field>
  <!-- Description field -->
  <mat-form-field>
    <textarea matInput placeholder="Descripción" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" required></textarea>
  </mat-form-field>
  <!-- Cost field -->
  <mat-form-field>
    <input matInput placeholder="Costo" required>
  </mat-form-field>
  <!-- Location field -->
  <mat-form-field>
    <input matInput placeholder="Ubicación" required>
  </mat-form-field>
  <!-- Date pickers for desk and mobile-->
  <mat-form-field *ngIf="!isMobile">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> 
  <mat-form-field *ngIf="isMobile">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>

  <!-- Hour field -->
  <!-- TODO: Crear dos input y un radio button para el input de la hora -->
  <mat-form-field>
    <input matInput placeholder="Hora ej 12:00 p.m." required>
  </mat-form-field>
  <button mat-raised-button color="primary">Guardar</button>
</app-container>