<section class="services" id="about">
  <h1 class="header-center">Nosotros</h1>
  <h2>
  Atendemos a familias foráneas con niños con discapacidad que asisten al CRIT a rehabilitación. Ofreciendo:
  </h2>
  <div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="service">
          <div class="image-block box">
            <img src="../../../assets/services/001-sleep.svg" alt="CircleLoop logo">
          </div>
          <h4>Hospedaje</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="service">
          <div class="image-block box">
            <img src="../../../assets/services/005-diet.svg" alt="CloudTalk logo">
          </div>
          <h4>Aliemento</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="service">
          <div class="image-block box">
            <img src="../../../assets/services/bus.svg" alt="SmartAgent logo">
          </div>
          <h4>Transporte</h4>
        </div>
      </div>
    </div>
  </div>
</section>
