.services {
  background-color: #fff;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  padding-left: var(--padding-left-section);
  padding-right: var(--padding-right-section);
}

.services h1 {
  text-align: center;
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--title-color);
  margin: 0;
}

.services h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 26px;
  line-height: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: var(--body-color);
}



header:before,
.services h1:before {
  margin-left: auto;
  margin-right: auto;
  width: 2.5rem;
  height: 3px;
  background-color: var(--main-color);
  content: "";
  display: block;
  margin-bottom: var(--margin);
}

.service {
  text-align: center;
}

.service h4 {
  color: var(--body-color);
  margin: var(--margin) 0;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.service .image-block img{
  width: 50%;
}
