<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/">
    <span>Albergue San Vicente</span>
  </a>
    <!-- Separador -->
  <div class="flex-spacer"></div>
  <a mat-button class="docs-button docs-navbar-hide-small">Nosotros</a>
  <a mat-button class="docs-button docs-navbar-hide-small">Servicios</a>
  <a mat-button class="docs-button docs-navbar-hide-small">Proyectos</a>
  <a mat-button class="docs-button docs-navbar-hide-small">Donaciones</a>
  <a mat-button class="docs-button docs-navbar-hide-small">Eventos</a>

  <div mat-icon-button class="docs-button docs-navbar-show-small">
    <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Nosotros</span>
      </button>
      <button mat-menu-item>
        <span>Servicios</span>
      </button>
      <button mat-menu-item>
        <span>Proyectos</span>
      </button>
      <button mat-menu-item>
        <span>Donaciones</span>
      </button>
      <button mat-menu-item>
        <span>Eventos</span>
      </button>
    </mat-menu>
  </div>
</nav>

