<!-- <app-navbar></app-navbar> -->
<!-- <app-hero-section></app-hero-section> -->
<!-- <app-details-section></app-details-section>  -->
<!-- <app-main-section></app-main-section> -->
<app-alert></app-alert>
<router-outlet></router-outlet>
<!-- <app-footer-section></app-footer-section> -->
<!-- <app-login></app-login> -->
<!-- <app-admin-panel></app-admin-panel> -->
<!-- <app-project-form></app-project-form> -->
<!-- <app-navbar-admin></app-navbar-admin> -->