<h1>Nombre del evento</h1>
<h2>DESCRIPCION</h2>
<p>frfuirhf3fhuihfuihfurf4ujf34jrio43rm34</p>
<div id="firstDivistion" class="division">
    <h2>LUGAR</h2>
    <p>effrf</p>
</div>
<div id="secondDivistion" class="division">

</div>
<h2>FECHA Y HORA</h2>
<p>dekmdwe</p>
<h2>COSTO</h2>
<p>344</p>
<h2>INFORMACION DE CONTACTO</h2>
<p>C. P. Martha Lorena Díaz G. (directora)<br> Cel. 045 (614) 215 28 12 <br>E-mail: lorena3dg@yahoo.com <br>Albergue:<br> Teléfono: 01 (614) 420 15 56 <br>E-mail: alberguechih.svp@gmail.com <br><br>DOMICILIO DEL ALBERGUE:<br> Ave. Industrial 2 Nº 7814 Fracc.
    Industrial Robinson CP 31384<br> Chihuahua, Chih.</p>