 h1 {
     text-align: center;
     font-family: var(--main-font);
     font-size: 2.5rem;
     font-weight: 300;
     color: var(--title-color);
     margin: 0;
 }
 
 h2 {
     font-family: "Roboto", sans-serif;
     text-align: center;
     font-weight: 100;
     font-size: 26px;
     line-height: 60px;
     margin-top: 15px;
     margin-bottom: 30px;
     color: #434345;
 }
 
 p {
     font-family: "Roboto", sans-serif;
     text-align: center;
     font-size: 18px;
     color: #000;
 }