<h1>TITULO DE DONACION</h1>
<h2>
    DESCRIPCION
</h2>
<p> DIODIOEWDIOJEWIDOJEWDIEWJDJEWDIWJDWEJDDIEJOD</p>
<h2>CANTIDAD</h2>
<p>4000 </p>
<h2>DATOS DEL CONTACTO</h2>
<p>C. P. Martha Lorena Díaz G. (directora)<br> Cel. 045 (614) 215 28 12 <br>E-mail: lorena3dg@yahoo.com <br>Albergue:<br> Teléfono: 01 (614) 420 15 56 <br>E-mail: alberguechih.svp@gmail.com <br><br>DOMICILIO DEL ALBERGUE:<br> Ave. Industrial 2 Nº 7814 Fracc.
    Industrial Robinson CP 31384<br> Chihuahua, Chih.
</p>