:root{
  --width-card: 0px;
}

.acent{
  color: var(--acent-color);
}
.mat-tab-body-wrapper {
  width: var(--width-card);
}
.example-card {
  height: 450px;
  /* position: relative; */
  border-radius: 10px;
  margin-bottom: 16px;
  width: var(--width-card);
  /* width: 100%;
  min-width: 100%;
  max-width: 100%; */
}

mat-card-title{
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--title-color);
  text-align: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  border: 2px solid mediumvioletred;
}

mat-card-subtitle{
  font-family: var(--main-font);
  font-size: 1rem;
  width: 100%;
  height: calc(20% - 16px);
  box-sizing: border-box;
  border: 2px solid mediumaquamarine;
}

mat-card-content{
  font-family: var(--main-font);
  text-align: justify;
  color: var(--body-color);
  font-size: 1rem;
  width: 100%;
  height: calc(50% - 16px);
  line-height: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid mediumvioletred;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  align-items: center;
  width: 100%;
  height: calc(15% - 16px);
  box-sizing: border-box;
  border: 2px solid mediumaquamarine;
}

.mat-raised-button{
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.card mat-card{
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 20px;
}

.card h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 26px;
  line-height: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #434345;
}

@media only screen and (max-width: 599px) {
  :root{
  --width-card: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1279){
  :root{
  --width-card: 48%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px){
  :root{
  --width-card: 32%;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 5000px){
  :root{
  --width-card: 24%;
  }
}