<!-- TODO: Quitar sombra en pagina ppal -->
<div class="app-navbar mat-elevation-z6">
  <nav class="docs-navbar-header">
    <!-- TODO: Agregar ícono -->
    <a mat-button class="docs-button" routerLink="/admin">
    <span>Panel de Administración</span>
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/home">Página Principal</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/home">Registro Lavadaras</a>
    <div class="flex-spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu" id="add-menu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['project-form']">
          <span>Proyecto</span>
      </button>
      <button mat-menu-item routerLink="donation-form">
        <span>Donación</span>
      </button>
      <button mat-menu-item routerLink="event-form">
        <span>Evento</span>
      </button>
  </mat-menu>
    <a mat-button class="docs-button docs-navbar-hide-small" routerLink="/login">
      <mat-icon>input</mat-icon>
      Cerrar Sesión
    </a>
    <a mat-icon-button class="docs-button docs-navbar-show-small" routerLink="/login">
      <mat-icon>input</mat-icon>
    </a>
  </nav>
  <nav class="docs-navbar docs-navbar-show-small">
    <a mat-button class="docs-navbar-link">Página Principal</a>
    <a mat-button class="docs-navbar-link">Registro Lavadoras</a>
  </nav>
</div>