 /* Tema para material design */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 /* You can add global styles to this file, and also import other style files */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

 /* body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
} */

/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

/* body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
} */

/* h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
} */


/* h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
} */